
{% if is_approved %}

  <div class="container-fluid px-0">
    <ul class="nav nav-pills nav-tabs-dropdown nav-tab-top" id="nav-tabs-dropdown" role="tablist">
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail-paket" type="button">Detail Produk EBIS</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#template-pricing" type="button">Template Pricing</button>
      </li>
      {# <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#setting-template-pricing" type="button">Setting Template Pricing</button>
      </li> #}
      <a class="btn btn-primary ms-auto mb-2" href="{{data.base_url}}/ebis/{{data.id}}/edit">
        Edit
      </a>
    </ul>
    <div class="card card-bundling">
      <div class="card-body p-0">
        <div class="row my-3 my-md-0">
          <div class="col-lg-12 py-3 ps-4">
            <div class="tab-content" id="pills-tabContent">
              <!-- Tab Detail Paket -->
              <div class="tab-pane fade show active" id="detail-paket">
                {% for each in data.detail %}
                  {% set mt = loop.first ? 'mt-5' : 'mt-2' %}
                  <div class="row {{mt}}">
                    <h6 class="col-lg-2 card-bundling-title">{{each.title|title}}</h6>
                    <span class="d-none d-lg-block">:</span>
                    <h6 class="col-lg-9 card-bundling-text">{{each.value}}</h6>
                  </div>
                {% endfor %}
              </div>
              <!-- Tab Template Pricing -->
              <div class="tab-pane fade" id="template-pricing">

                {% for template in template_pricing %}
                  <div class="row mt-5">
                    <div class="col-md-12 mb-2">
                      <span class="fw-bold">{{template.title}}</span>
                      <div class="pricing-tooltip">
                        <button class="btn btn-secondary shadow" onclick="pricing_tooltip_copy('template-pricing-{{loop.index}}','pricing-tooltip-{{loop.index}}')" onmouseenter="pricing_tooltip_in('pricing-tooltip-{{loop.index}}')" onmouseout="pricing_tooltip_out('pricing-tooltip-{{loop.index}}')">
                          <span class="pricing-tooltiptext" id="pricing-tooltip-{{loop.index}}">Copy to clipboard</span>
                          Copy text
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <textarea name="" id="template-pricing-{{loop.index}}" cols="30" rows="10" class="form-control border">{{template.css_link}}{{template.html}}{{template.js_link}}</textarea>
                    </div>

                    <div class='col-md-6'>
                      {{template.html|raw}}
                    </div>

                  </div>
                {% endfor %}

                

              </div>
              <!-- Tab Setting Template Pricing -->
              <div class="tab-pane fade" id="setting-template-pricing">

                {# {% for setting in setting_template_pricing %}
                  <div class="row align-items-center mt-5">
                    <div class="col-md-3 text-center">
                      <img class="img-fluid" src="{{setting.logo}}" alt="logo">
                    </div>
                    <div class="col-md-8">
                      <!-- using class to get the list input, then using id to get the setting "id", then save to database -->
                      <textarea id="{{setting.element_id}}" cols="30" rows="4" class="form-control border setting_template_pricing_paket">{{setting.value}}</textarea>
                    </div>
                  </div>
                {% endfor %}

                <div class="row mt-3">
                  <div class="d-flex justify-content-center">
                    <button id="btn-save-template-pricing-paket" class="btn btn-primary">Save</button>
                  </div>
                </div> #}

                

              </div>
            </div>
          </div>
          {# <div class="col-lg-3 border-start">
            <div class="accordion" id="accordion-paket">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#templateEmail">
                    Template Email
                  </button>
                </h2>
                <div id="templateEmail" class="accordion-collapse collapse show">
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#templateWa">
                    Template WA
                  </button>
                </h2>
                <div id="templateWa" class="accordion-collapse collapse show">
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#templateSms">
                    Template SMS
                  </button>
                </h2>
                <div id="templateSms" class="accordion-collapse collapse show">
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#templateFacebook">
                    Template Facebook
                  </button>
                </h2>
                <div id="templateFacebook" class="accordion-collapse collapse show">
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#templateInstagram">
                    Template Instagram
                  </button>
                </h2>
                <div id="templateInstagram" class="accordion-collapse collapse show">
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#templateTwitter">
                    Template Twitter
                  </button>
                </h2>
                <div id="templateTwitter" class="accordion-collapse collapse show">
                </div>
              </div>
            </div>
          </div> #}
        </div>
      </div>
    </div>
  </div>
  <h6 class="bundling-title">List Terkait</h6>

  {# Input type hidden. will be used when doing ajax #}
  <input type='hidden' id='input_hidden_paket_id' value="{{data.id}}" /> {# why paket_id ? For image & video tab, use existing system (system "paket") #}
  <input type='hidden' id='input_hidden_base_url' value="{{data.base_url}}" />
  <input type='hidden' id='input_hidden_request_uri' value="{{request_uri}}" />

  <!-- Tabs -->
  <ul class="nav nav-pills custom nav-tabs-dropdown" id="nav-tabs-dropdown" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id='content-tab' data-bs-toggle="tab" data-bs-target=".konten" type="button">Konten</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id='image-tab' data-bs-toggle="tab" data-bs-target=".image" type="button">Image</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id='video-tab' data-bs-toggle="tab" data-bs-target=".video" type="button">Video</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id='knowledge-tab' data-bs-toggle="tab" data-bs-target=".product_knowledge" type="button">Product Knowledges</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent-table">
    <!-- Table Konten -->
    <div class="tab-pane fade konten show active">
      <div class="card">
        <div class="">
          <div class="p-3">
            <div class="row justify-content-between align-items-center border-bottom pb-3">
              <div class="col-lg-6">
                <a class="btn btn-primary" href="{{data.base_url}}/node/add/paket_content?paket_id={{data.id}}&destination={{request_uri ~ '?showed_element=content-tab'}}">
                  Add Konten
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- display the paket content block, display as table -->
        <div class="card-body">
          {{ drupal_block('views_block:block_paket_content-block_1') }}
        </div>
      </div>
    </div>
    <!-- Table Image -->
    <div class="tab-pane fade image">

      <!-- 
        NOTES : 
        EBIS IS USING SAME SYSTEM AS PAKET, IN SCRIPT JS & ENDPOINT  
        REPLACE PAKET_ID={ID PAKET} WITH PAKET_ID={ID EBIS}
      -->
      
      <div class="card">
        <div class="row">
          <div class="col-md-8 py-3 section-media">
            <div class="row justify-content-between align-items-center border-bottom pb-3">
              <div class="col-lg-4 ps-3">
                <a class="btn btn-primary" href="{{data.base_url}}/node/add/paket_media?paket_id={{data.id}}&destination={{request_uri ~ '?showed_element=image-tab'}}">
                  Add Media
                </a>
              </div>
              <div class="col-lg-4 d-flex align-items-center mt-2 mt-lg-0 pr-0">
                <label class="col-form-label">Search</label>
                <div class="w-100 ms-3 position-relative">
                  <input type="text" class="form-control border" style="padding-right:30px" id='image-tab-search' />
                  <svg class="search-loading" xmlns="http://www.w3.org/2000/svg" id="image-tab-search-icon" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none; margin: auto; background: rgb(255, 255, 255); shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <g>
                    <path d="M50 15A35 35 0 1 0 74.74873734152916 25.251262658470843" fill="none" stroke="#6091f0" stroke-width="12"></path>
                    <path d="M49 3L49 27L61 15L49 3" fill="#6091f0"></path>
                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                    </g>
                    <!-- [ldio] generated by https://loading.io/ -->
                  </svg>
                </div>
              </div>
              <div class="col-lg-4 d-flex align-items-center mt-2 mt-lg-0 pr-0">
                <label class="col-form-label">Kategori</label>
                <div class="w-100 ms-3">
                  <select class="form-control border" id='image-tab-filter-category'>
                    <option value="">Semua Kategori</option>
                  </select>
                  <span class="dropdown-select-icon"></span>
                </div>
              </div>
            </div>
            <div class="row pt-3" id="image-tab-container">
              <!-- <div class="col-lg-4 col-md-6 card-landing-page">
                <div class="card border">
                  <img src="https://source.unsplash.com/random" class="card-img-top img-landing-page" alt="...">
                  <div class="card-body">
                    <p class="card-text">Praesent iaculis eros sitera amet urna varius, et interad dum massa consequat. </p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-4 card-landing-page-right px-3">
            <form class="row" id='image-tab-form'>
              <div class="form-group col-md-12">
                <label>Judul</label>
                <input type="text" id='image-tab-judul' class="form-control border">
              </div>
              <div class="form-group col-md-12">
                <label>Dialihkan ke</label>
                <input type="text" id='image-tab-redirect' class="form-control border">
              </div>
              <div class="form-group col-md-12" id='image-tab-kategori'>
                <label>Kategori</label>
                <!-- <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="webpage">
                  <label class="form-check-label" for="webpage">Web Page</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="webpage-mobile">
                  <label class="form-check-label" for="webpage-mobile">Web Page - Mobile</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="printing">
                  <label class="form-check-label" for="printing">Printing</label>
                </div> -->
              </div>
              <div class="form-group col-md-12">
                <div id="image-tab-link-container">
                  <!-- added with js -->
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>Deskripsi</label>
                <textarea id='image-tab-deskripsi' cols="30" rows="4" class="form-control border"></textarea>
              </div>
              <div class="form-group d-flex justify-content-between">
                <input type='hidden' id='image-tab-media-id' value='' />
                <span id='image-tab-edit'></span>
                <button id='image-tab-simpan' type='button' class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Table Video -->
    <div class="tab-pane fade video">

      <!-- 
        NOTES : 
        EBIS IS USING SAME SYSTEM AS PAKET, IN SCRIPT JS & ENDPOINT  
        REPLACE PAKET_ID={ID_PAKET} WITH PAKET_ID={ID EBIS}
      -->

      <div class="card">
        <div class="row">
          <div class="col-md-8 py-3 section-media">
            <div class="row justify-content-between align-items-center border-bottom pb-3">
              <div class="col-lg-4 ps-3">
                <a class="btn btn-primary" href="{{data.base_url}}/node/add/paket_video?paket_id={{data.id}}&destination={{request_uri ~ '?showed_element=video-tab'}}">
                  Add Video
                </a>
              </div>
              <div class="col-lg-4 d-flex align-items-center mt-2 mt-lg-0 pr-0">
                <label class="col-form-label">Search</label>
                <div class="w-100 ms-3 position-relative">
                  <input type="text" class="form-control border" style="padding-right:30px" id='video-tab-search' />
                  <svg class="search-loading" xmlns="http://www.w3.org/2000/svg" id="video-tab-search-icon" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none; margin: auto; background: rgb(255, 255, 255); shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <g>
                    <path d="M50 15A35 35 0 1 0 74.74873734152916 25.251262658470843" fill="none" stroke="#6091f0" stroke-width="12"></path>
                    <path d="M49 3L49 27L61 15L49 3" fill="#6091f0"></path>
                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                    </g>
                    <!-- [ldio] generated by https://loading.io/ -->
                  </svg>
                </div>
              </div>
              <div class="col-lg-4 d-flex align-items-center mt-2 mt-lg-0 pr-0">
                <label class="col-form-label">Kategori</label>
                <div class="w-100 ms-3">
                  <select class="form-control border" id='video-tab-filter-category'>
                    <option value="">Semua Kategori</option>
                  </select>
                  <span class="dropdown-select-icon"></span>
                </div>
              </div>
            </div>
            <div class="row pt-3" id="video-tab-container">
              <!-- <div class="col-lg-4 col-md-6 card-landing-page">
                <div class="card border">
                  <img src="https://source.unsplash.com/random" class="card-img-top img-landing-page" alt="...">
                  <div class="card-body">
                    <p class="card-text">Praesent iaculis eros sitera amet urna varius, et interad dum massa consequat. </p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-4 card-landing-page-right px-3">
            <form class="row" id='video-tab-form'>
              <div class="form-group col-md-12">
                <label>Judul</label>
                <input type="text" id='video-tab-judul' class="form-control border">
              </div>
              <div class="form-group col-md-12" id='video-tab-kategori'>
                <label>Kategori</label>
                <!-- <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="webpage">
                  <label class="form-check-label" for="webpage">Web Page</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="webpage-mobile">
                  <label class="form-check-label" for="webpage-mobile">Web Page - Mobile</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="printing">
                  <label class="form-check-label" for="printing">Printing</label>
                </div> -->
              </div>
              <div class="form-group col-md-12">
                <div id="video-tab-link-container">
                  <!-- added with js -->
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>Deskripsi</label>
                <textarea id='video-tab-deskripsi' cols="30" rows="4" class="form-control border"></textarea>
              </div>
              <div class="form-group d-flex justify-content-between">
                <input type='hidden' id='video-tab-video-id' value='' />
                <span id='video-tab-edit'></span>
                <button id='video-tab-simpan' type='button' class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Product Knowledge -->
    <div class="tab-pane fade product_knowledge">
      <div class="card">
        <div class="">
          <div class="p-3">
            <div class="row justify-content-between align-items-center border-bottom pb-3">
              <div class="col-lg-6">
                <a class="btn btn-primary" href="{{data.base_url}}/ebis/{{data.id}}/product-knowledges/add?destination={{request_uri ~ '?showed_element=knowledge-tab'}}">
                  Add Knowledges
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- display the paket content block, display as table  -->
        <div class="card-body">
          {{ drupal_block('views_block:block_ebis_product_knowledge-block_1') }}
        </div>
      </div>
      <div class="card">
        <div class="">
          <div class="p-3">
            <div class="row justify-content-between align-items-center py-3">
              <div class="col-lg-6">
                <a class="btn btn-primary" href="{{data.base_url}}/node/add/ebis_knowledge_group?id={{data.id}}&destination={{request_uri ~ '?showed_element=knowledge-tab'}}">
                  Add Group
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- display the paket content block, display as table  -->
        <div class="card-body">
          {{ drupal_block('views_block:block_ebis_knowledge_group-block_1') }}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal (content added with js) -->
  <div class="modal fade" id="detailMediaPreview" style="display:none;"></div>

{% else %}
  
  <div class="container-fluid px-0">
    <ul class="nav nav-pills nav-tabs-dropdown nav-tab-top" id="nav-tabs-dropdown" role="tablist">
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail-paket" type="button">Detail Produk EBIS</button>
      </li>
      <a class="btn btn-primary ms-auto mb-2" href="{{data.base_url}}/ebis/{{data.id}}/edit">
        Edit
      </a>
    </ul>
    <div class="card card-bundling">
      <div class="card-body p-0">
        <div class="row my-3 my-md-0">
          <div class="col-lg-9 py-3 ps-4">
            <div class="tab-content" id="pills-tabContent">
              <!-- Tab Detail Paket -->
              <div class="tab-pane fade show active" id="detail-paket">
                <div>
                  <div class="w3-row messages messages--status">
                    <h2 class="visually-hidden">Status message</h2>
                    This Content is Waiting for Approval
                  </div>
                </div>
                {% for each in data.detail %}
                  {% set mt = loop.first ? 'mt-5' : 'mt-2' %}
                  <div class="row {{mt}}">
                    <h6 class="col-lg-3 card-bundling-title">{{each.title|title}}</h6>
                    <span class="d-none d-lg-block">:</span>
                    <h6 class="col-lg-8 card-bundling-text">{{each.value}}</h6>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}