
{% if logged_in %}
    <li class="nav-item dropdown">
        <a href="#" class="nav-link account text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            
            {% if user_detail.profile_picture|length > 0 %}
                {% set url = user_detail.profile_picture %}
            {% else %}
                {% set url = "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" %}
            {% endif %}

            <img src="{{url}}" alt="" width="38" height="38" class="rounded-circle">
            <h6 class="mb-0 ms-3 d-none d-sm-block account-username">{{user_detail.username}}</h6>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="{{ items['user.page'].url }}">Profile</a></li>
            <li><a class="dropdown-item" href="{{ edit_user_url }}">Edit Profile</a></li>
            <li><a class="dropdown-item" href="{{ items['user.logout'].url }}">Sign out</a></li>
        </ul>
    </li>
{% else %}
    <ul  class="ul-parent ul-parent-account" role="menu">
        <li class="li-item li-item-account" role="none">
            <a href="{{login_url}}" class="w3-button li-link li-link-account" role="menuitem" data-drupal-link-system-path="user/login">Log in</a>
        </li>
    </ul>
{% endif %}