
<!-- Sidebar-->
{{page.sidebar_menu}}

<!-- Page content wrapper-->
<div class="content-wrapper">

      <!-- topbar start -->
      <header class="navbar navbar-light navbar-expand-md bg-white sticky-top shadow-sm px-4">
        <!-- button toggled sidenav start -->
        <button class="navbar-toggler border-0" type="button" id="sidebarToggle">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- button toggled sidenav end -->
        <!-- navbar brand start -->
        {{page.title}}
        <!-- navbar brand start -->
        <ul class="navbar-nav ms-auto">
          {% if logged_in %}
            <li class="nav-item dropdown dropdown-notification">
                <a href="#" class="nav-link pe-3" id="notification" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-notification">
                    <img src="{{ url('<front>')|render }}themes/custom/telkom_cms/assets/icons/ic-bell-new.svg" alt="">
                </div>
                <span class="badge badge-danger rounded-circle noti-icon-badge">{{unread_notification}}</span>
                </a>
                <div class="dropdown-menu notification-menu dropdown-menu-end animate slideIn"
                aria-labelledby="navbarDropdown">
                    {% for notif in notification %}
                        <a class="dropdown-item" href="{{notif.url}}">
                            {% if notif.is_read %}
                                {{notif.title}}
                            {% else %}
                                <b>{{notif.title}}</b>
                            {% endif %}
                        </a>
                        <div class="dropdown-divider"></div>
                        {% if loop.last %}
                            <a class="dropdown-item text-center text-primary" href="{{base_url}}/notification">Lihat Semua</a>
                        {% endif %}
                    {% endfor %}

                    {% if notification is empty %}
                        <a class="dropdown-item text-center" href="#">There is no notification</a>
                    {% endif %}
                </div>
            </li>
          {% endif %}

          {{page.user_navigation}}          
          
        </ul>
      </header>
      <!-- topbar end -->

      <!-- breadcrumb start -->
      {{page.breadcrumb}}
      <!-- breadcrumb end -->

      {{page.content.messages}}

      <!-- content start -->
      <div class="container-fluid px-4 mb-5">
        <form method="POST" id="form-add-product" class="card">
            <div class="card-body">
              {% for each in form.fields %}
                <div class="row mt-4">
                  <div class="form-group col-md-6">
                        <label class="pb-2 form-required">{{each.title}}</label>
                        <select class="form-control border" name="{{each.name}}" required>
                          {% for option in each.option %}
                            {%
                              set selected = each.selected == option.value ? 'selected' : ''
                            %}
                            <option value="{{option.value}}" {{selected}}>{{option.title}}</option>
                          {% endfor %}
                        </select>
                  </div>
                </div>
              {% endfor %}

              <div class="row my-4">
                <div class="col-md-6" style="text-align:center">
                  <input type="submit" name="submit-citem-price" value="Save" class="btn btn-primary" />
                </div>
              </div>

            </div>
        </form>
      </div>
</div>