{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

<!-- sidebar start -->
<div class="sidebar" id="sidebar-wrapper">
  <a href="/" class="sidebar-brand d-flex justify-content-center link-dark text-decoration-none">
    {{ drupal_region('sidebar_logo') }}
  </a>
  <!-- menu start -->
  <ul class="nav nav-pills nav-flush mb-auto text-center d-block scrollarea">
    {% for menu_parent in items %}

      {% if menu_parent.below %}
      <li class="nav-item {{menu_parent.in_active_trail ? 'active'}}" onmouseover="showMenu('{{menu_parent.menu_id}}')" onmouseleave="hideMenu('{{menu_parent.menu_id}}')">
        <a href="#" class="nav-link py-3 collapsed" data-bs-toggle="collapse" data-bs-target="#{{menu_parent.mobile_menu_id}}" aria-current="page">
      {% else %}
      <li class="nav-item {{menu_parent.in_active_trail ? 'active'}}" onclick="(function(){window.location.href=`{{menu_parent.url}}`;return false;})();return false;">
        <a href="{{menu_parent.url}}" class="nav-link py-3">
      {% endif %}

          <img src="{{menu_parent.icon_url}}" style="max-width:21px;">
          <span>{{menu_parent.title}}</span>
        </a> 

        {% if menu_parent.below %}
          <!-- submenu collapse start (for mobile) -->
          <div class="collapse-item collapse" id="{{menu_parent.mobile_menu_id}}">
            <ul class="btn-toggle-nav list-unstyled small">
              {% for menu_child in menu_parent.below %}
                <li>
                  <a href="{{menu_child.url}}" class="link-dark {{menu_child.in_active_trail ? 'active'}}">{{menu_child.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- submenu collapse end -->
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <!-- menu end -->
</div>

<!-- submenu start (for desktop) -->
{% for menu_parent in items %}
  {% if menu_parent.below %}
    <div class="sub-menu shadow-sm scrollarea" id="{{menu_parent.menu_id}}" onmouseover="showMenu('{{menu_parent.menu_id}}')"
      onmouseleave="hideMenu('{{menu_parent.menu_id}}')">
      <div class="has-sub-menu">
        <p class="sub-menu-label">{{menu_parent.title|title}}</p>
        <div class="list-group">
          {% for menu_child in menu_parent.below %}
            <a href="{{menu_child.url}}" class="list-group-item list-group-item-action {{menu_child.in_active_trail ? 'active'}}">{{menu_child.title}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
<!-- submenu End -->
<!-- sidebar end -->
