{# 
  List submitted form response for landing page 
  Path = /landing-master/{landing_id}/form/form_id

  @see telkom_cms_preprocess_page
#}

<!-- Sidebar-->
{{page.sidebar_menu}}

<!-- Page content wrapper-->
<div class="content-wrapper">

    <!-- topbar start -->
    <header class="navbar navbar-light navbar-expand-md bg-white sticky-top shadow-sm px-4">
        <!-- button toggled sidenav start -->
        <button class="navbar-toggler border-0" type="button" id="sidebarToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- button toggled sidenav end -->
        <!-- navbar brand start -->
        {{page.title}}
        <!-- navbar brand start -->
        <ul class="navbar-nav ms-auto">
            {% if logged_in %}
            <li class="nav-item dropdown dropdown-notification">
                <a href="#" class="nav-link pe-3" id="notification" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="nav-notification">
                        <img src="{{ url('<front>')|render }}themes/custom/telkom_cms/assets/icons/ic-bell-new.svg" alt="">
                    </div>
                    <span class="badge badge-danger rounded-circle noti-icon-badge">{{unread_notification}}</span>
                </a>
                <div class="dropdown-menu notification-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
                    {% for notif in notification %}
                        <a class="dropdown-item" href="{{notif.url}}">
                            {% if notif.is_read %}
                                {{notif.title}}
                            {% else %}
                                <b>{{notif.title}}</b>
                            {% endif %}
                        </a>
                        <div class="dropdown-divider"></div>
                        {% if loop.last %}
                            <a class="dropdown-item text-center text-primary" href="{{base_url}}/notification">Lihat Semua</a>
                        {% endif %}
                    {% endfor %}

                    {% if notification is empty %}
                        <a class="dropdown-item text-center" href="#">There is no notification</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}

            {{page.user_navigation}}          
            
        </ul>
    </header>
    <!-- topbar end -->

    <!-- breadcrumb start -->
    {{page.breadcrumb}}
    <!-- breadcrumb end -->

    <!-- content start -->
    <div class="container-fluid px-4 mb-5">
        <div class="card px-4 py-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">No.</th>
                            {% for column in form_responses['column'] %}
                                <th scope="col">{{column}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if form_responses['row'] is empty %}
                            <tr>
                                <td class="views-field views-field-no" colspan="{{ form_responses['column']|length + 1 }}">No data</td>
                            </tr>
                        {% endif %}

                        {% for row in form_responses['row'] %}
                            <tr>
                                <td class="views-field views-field-no">{{loop.index}}</td>
                                {% for td_data in row %}
                                    <td class="views-field views-field-title">{{td_data}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav class="w3-center pager" role="navigation" aria-labelledby="pagination-heading">
                    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                    <ul class="w3-bar pager__items js-pager__items ul-0">
                        {% if form_response["pagination"]["prev"] %}
                            <li class="w3-button pager__item pager__item--next li-0">
                                <a href="?page={{ form_response['pagination']['page'] - 1 }}" title="Go to previous page" rel="prev">
                                    <span class="visually-hidden">Previous page</span>
                                    <span aria-hidden="true"> < Previous </span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page in form_response['pagination']['available_pages'] %}
                            {% if page == form_response['pagination']['page'] %}
                                <li class="w3-button pager__item w3-light-gray w3-active-pager is-active li-0">
                                    <span title="Current page">
                                        <span class="visually-hidden">Current page</span>
                                        {{page}}
                                    </span>
                                </li>
                            {% else %}
                                <li class="w3-button pager__item li-0">
                                    <a href="?page={{ page }}" title="Go to page {{page}}">
                                        <span class="visually-hidden">Page</span>
                                        {{page}}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if form_response["pagination"]["next"] %}
                            <li class="w3-button pager__item pager__item--next li-0">
                                <a href="?page={{ form_response['pagination']['page'] + 1 }}" title="Go to next page" rel="next">
                                    <span class="visually-hidden">Next page</span>
                                    <span aria-hidden="true">Next ›</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div> 