{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Sidebar-->
{{page.sidebar_menu}}

<!-- Page content wrapper-->
<div class="content-wrapper">

    <!-- topbar start -->
      <header class="navbar navbar-light navbar-expand-md bg-white sticky-top shadow-sm px-4">
        <!-- button toggled sidenav start -->
        <button class="navbar-toggler border-0" type="button" id="sidebarToggle">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- button toggled sidenav end -->
        <!-- navbar brand start -->
        {{page.title}}
        <!-- navbar brand start -->
        <ul class="navbar-nav ms-auto">
          {% if logged_in %}
            <li class="nav-item dropdown dropdown-notification">
                <a href="#" class="nav-link pe-3" id="notification" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-notification">
                    <img src="{{ url('<front>')|render }}themes/custom/telkom_cms/assets/icons/ic-bell-new.svg" alt="">
                </div>
                <span class="badge badge-danger rounded-circle noti-icon-badge">{{unread_notification}}</span>
                </a>
                <div class="dropdown-menu notification-menu dropdown-menu-end animate slideIn"
                aria-labelledby="navbarDropdown">
                    {% for notif in notification %}
                        <a class="dropdown-item" href="{{notif.url}}">
                            {% if notif.is_read %}
                                {{notif.title}}
                            {% else %}
                                <b>{{notif.title}}</b>
                            {% endif %}
                        </a>
                        <div class="dropdown-divider"></div>
                        {% if loop.last %}
                            <a class="dropdown-item text-center text-primary" href="{{base_url}}/notification">Lihat Semua</a>
                        {% endif %}
                    {% endfor %}

                    {% if notification is empty %}
                        <a class="dropdown-item text-center" href="#">There is no notification</a>
                    {% endif %}
                </div>
            </li>
          {% endif %}

          {{page.user_navigation}}          
          
        </ul>
      </header>
      <!-- topbar end -->

      <!-- breadcrumb start -->
      {{page.breadcrumb}}
      <!-- breadcrumb end -->

      {{page.content.messages}}

      <!-- content start -->
      <div class="container-fluid px-4 mb-5">
        <form method="POST" id="form-add-product" class="card">
            <input type="hidden" id="product-category-list" value="{{ product_category|json_encode() }}" />
            <div class="card-body">
              <div class="row mt-4">
                  <div class="form-group col-md-6">
                      <label class="pb-2 form-required">Title</label>
                      <input type="text" class="form-control border" name="title" value="" required />
                  </div>
              </div>
              <div class="row mt-4">
                  <div class="form-group col-md-6">
                      <label class="pb-2 form-required">Category</label>
                      <select class="form-control border" id="product-category-select" name="category" required>
                        <option value='' disabled selected>-- Select Category --</option>
                        {% for key, item in product_category %}
                          <option value="{{key}}">{{item['title']}}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
              
              <!-- Filled by js (onchange category) -->
              <div id="container-specification"></div>

              <div class="row my-4">
                <div class="col-md-6" style="text-align:center">
                  <input type="submit" id="submit-add-product" name="add-product" value="Save" class="btn btn-primary" />
                </div>
              </div>

            </div>
        </form>
      </div>
</div>